<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
        <add name="mysql" connectionString="Server=tihlde.org;Uid=sykkelmaster2015;Pwd=974ha67N82FP5sLA;Database=sykkelmaster2015" />
        <add name="SykkelMaster.My.MySettings.sykkelmaster2015ConnectionString"
            connectionString="server=tihlde.org;user id=sykkelmaster2015;password=974ha67N82FP5sLA;persistsecurityinfo=True;database=sykkelmaster2015"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>